#alphabet {
    margin: 1rem auto;
    padding: 0;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #alphabet li {
    margin: 1rem;
    padding:1rem;
    background: hotpink;
    color: white;
    border: solid 1px white;
    border-radius: 20%;
    cursor:pointer;
  }

  #alphabet li:hover {
    background: white;
    border: solid 1px hotpink;
    color: hotpink;
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #hangman {
    height: 20rem;
    width: 20rem;
    border: 1px solid hotpink;
  }