.game-grid {
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(5, 100px);
}

.game-grid__tile {
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid peachpuff;
}

.active {
    background-color: yellow;
}